:root {
    --background: #BFBFC9;
    --foreground: #23222B;
    --red: #800000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #23222B;
        --foreground: #BFBFC9;
        --red: #B20000;
    }
}